.swim-lane {
  margin: 20px 0;
  padding: 10px;
}

.swim-lane-title {
  color: white;
  font-size: medium;
  font-weight: bold;
  margin-left: 6px;
}

.cards-container {
  position: relative;
  display: flex;
  align-items: center;
}

.cards {
  display: flex;
  overflow: hidden;
  padding: 17px;
  gap: 2px;
}

.card {
  width: 133px;
  padding: 3px;
  background: #444444;
  border: 1px solid #444444;
  border-radius: 8px;
  text-align: center;
}

.card-img {
  width: 100%;
  height: auto;
  display: block;
}

.card-title {
  background-image: linear-gradient(90deg, #1c1c1e 33.33%, #121212 65.62%);
  border-radius: 2px;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.58);
  text-align: start;
  font-size: 10px;
  margin: 0;
  color: white;
  padding: 8px;
  display: flex;
  align-items: center;
}

.nav-button {
  height: 277px;
  width: 75px;
  border: none;
  cursor: pointer;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.nav-button.left {
  background: linear-gradient(
    to right,
    rgba(6, 6, 6, 1)50%,
    rgba(6, 6, 6, -0.3) 
  );
  left: -5px;
}

.nav-button.right {
  background: linear-gradient(
    to left,
    rgba(6, 6, 6, 1) 50%,
    rgba(6, 6, 6, -0.3)
  );
  right: -5px;
}

.nav-card-content {
  width: 86px;
  margin: 0;
  display: flex;
  height: 261px;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  box-sizing: border-box;
}

.nav-card-img {
  margin-bottom: 15px;
  width: 160px;
  height: 206px;
  opacity: 0.2;
}

.nav-card-title {
  display: flex;
  align-items: start;
  opacity: 0.2;
  font-size: 10px;
  color: white;
  width: 119px;

  flex-direction: column;
}

.nav-icon {
  color: white;
  font-size: 2em;
  position: absolute;
  z-index: 2;
}

.new-label {
  
  text-align: center;
  margin-top: -11px;
  margin-bottom: 1px;
  width: 28px;
  padding: 3px;
  background-color: #efaa31;
  color: black;
  font-weight: bold;
  font-size: 12px;
  border-radius: 2px;
}

.title {
  line-height: 1.2;
  display: flex;
  flex-direction: column;
}

.swim-lane-title:hover,
.card:hover,
.nav-button:hover {
  outline: 2px solid #177ec9;
}

.swim-lane:focus,
.swim-lane-title:focus,
.card:focus,
.nav-button:focus {
  outline: 2px solid #177ec9;
}

.cards {
  transition: transform 0.5s ease-in-out;
}

.nav-button:hover,
.nav-button:focus {
  transform: scale(1.2);
}

.card:hover,
.card:focus {
 transition: all .2s ease;
-webkit-transition: all .2s ease;;
  transform: scale(1.1);
}
.card:hover .content,
.card:focus .content {
  outline: solid 2px #177ec9;
  padding: 3px;
}


  
