.swim-lane {
  margin: 20px 0;
  padding: 10px;

}

h2 {
  margin: 0 0 10px 0;
  font-size: 1.5em;
}

.cards-container {
  position: relative;
  display: flex;
  align-items: center;
}

.cards {
  display: flex;
  overflow: hidden;
  padding: 10px 0;
  gap: 1px;
}

.card {
  width: 133px;
  padding: 3px;
  background: #444444;
  border: 1px solid #444444;
  border-radius: 8px;
  text-align: center;
}

.card-img {
  width: 100%;
  height: auto;
  display: block;
}

.card-title {
      background-image:  linear-gradient(90deg, #1C1C1E 33.33%, #121212 65.62%);
        border-radius: 2px;
        height: 3rem;
        background-color: rgba(0, 0, 0, 0.58);
        text-align: start;
        font-size: 9px;
        margin: 0;
        color: white;
        padding: 8px;
        display: flex;
        align-items: center;
}

.nav-button {
  height: 251px;
  /* background-color: rgba(0, 0, 0, 0.378); */
  background: rgba(0, 0, 0, 0.378);
  border: none;
  color: #060606;
  padding: 10px;
  cursor: pointer;
  font-size: 1.2em;
}

.nav-button.left {
  position: absolute;
  right: -40px;
}

.nav-button.right {
  position: absolute;
  right: -40px;
}

.new-label {
  text-align: center;
 margin-top: -11px;
 margin-bottom: 5px;
    width: 28px;
  padding: 3px;
  background-color: #efaa31;
  color: black;
  font-weight: bold;
  font-size: 12px;
  border-radius: 2px;
}
.title{
  display: flex;
  flex-direction: column;
}